.jogo-da-forca {
  margin-top: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.bloco-saidas-jogo {
  border: 1px solid black;
}

.word-display {
  font-size: 3rem;
}

.guess-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guess-input {
  border-radius: 5px;
}

.botao-jogar {
  background-color: yellow;
  color: black;
}

@media screen and (max-width:500px) {
  .word-display {
    font-size: 2rem;
  }
}