.jogo-da-forca {
  margin-top: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.bloco-saidas-jogo {
  border: 1px solid black;
}

.word-display {
  font-size: 3rem;
}

.guess-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guess-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  text-align: center;
}

.guess-input:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 0, 0.644);
}

#botao-primario, #botao-secundario {
  width: 7em;
}

@media screen and (max-width:500px) {
  .word-display {
    font-size: 2rem;
  }
}