body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inter;
  width: 100%;
  background-color: #fefefe;
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  border-bottom: 2px solid;
  background-color: yellow;
  font-weight: 700;
}

#home{
  scroll-behavior: smooth;
}


.nav-link{
  text-decoration: none;
  border: none;
  color: black;
}

#logo-header {
  width: 7rem;
  scroll-behavior: smooth;
}
#logo-header:hover, .logos-footer:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#main-logo {
  margin: 74px auto auto;

}

#botao-primario {
  background-color: yellow;
  color: black;
  border-color: black;
  width: 10em;
}

#botao-primario:hover {
  background-color: rgb(236, 217, 4);
}

#botao-secundario {
  width: 10em;
  margin-left: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: beige;
  color: black;
  border: 1px solid black;
}

#botao-secundario:hover {
  background-color: rgb(212, 212, 212);
}

#games, #contato {
  scroll-behavior: smooth;
}

.card {
  height: 100%;
  box-sizing: border-box;
}

.games-img {
  border-bottom: 1px solid #c7c7c7;
}

.card-body {
  flex: none;
}

#contato{
  scroll-behavior: smooth;
}
#contato p {
  text-align: center;
}
.logos-footer{
  padding-left: 10px;
}

@media screen and (max-width:500px) {
  .texto-principal {
    font-size: 15px;
  }
}