body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inter;
  width: 100%;
  background-color: #fefefe;
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  border-bottom: 2px solid;
  background-color: yellow;
  font-weight: 700;
}

#home{
  scroll-behavior: smooth;
}


.nav-link{
  text-decoration: none;
  border: none;
  color: black;
}

#logo-header {
  width: 7rem;
  scroll-behavior: smooth;
}
#logo-header:hover, .logos-footer:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#main-logo {
  margin: 74px auto auto;

}

#botao-primario {
  color: black;
  width: 10em;
  background: yellow;
  font-family: inherit;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  
}

#botao-primario:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#botao-primario:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#botao-secundario {
  color: black;
  width: 10em;
  background: beige;
  font-family: inherit;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

#botao-secundario:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#botao-secundario:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#games, #contato {
  scroll-behavior: smooth;
}

.card {
  height: 100%;
  box-sizing: border-box;
}

.games-img {
  border-bottom: 1px solid #c7c7c7;
}

.card-body {
  flex: none;
}

#contato{
  scroll-behavior: smooth;
}
#contato p {
  text-align: center;
}
.logos-footer{
  padding-left: 10px;
}

@media screen and (max-width:500px) {
  .texto-principal {
    font-size: 15px;
  }
}